<div class="post-container">
    <div class="post-detail gt-bg-theme-color-second gt-c-content-color-first">
        <article id="main" class="gt-post-content">
            <h1 class="post-title">关于</h1>
            <div class="post-content">
                <%- page.content %>
            </div>
        </article>
    </div>
    <br>
    <%- partial("_includes/disqus") %>
    <%- partial("_includes/gitalk") %>
    <%- partial("_includes/valine") %>
</div>
